body{
	background: url(GameofLife2.jpg);
	
}
.game {
    width: 40%;
    margin:auto;
}

.gol {
		display: inline, right;
		font-size: 3em;
		font-family: Lobster, David;
		height: 100%;
		margin: 0.3em;
        padding: 0 2em 0 0;
		text-shadow: -3px -2px 2px #555;
		color: silver;
		
	}
	

#grid {
    padding-bottom: 10px;
	
}


table {
    background-color: black;
	
	
}
td {
    border: 1px solid darkgray;
    width: 10px;
    height: 10px;

	
}
td.dead {
    background-color: white;
}
td.alive {
    background-color:blue;
}
